body {
 background-color: hsl(0, 0%, 98%); 
 font-family: 'Poppins', sans-serif;
 font-size: 15px;
 margin: 0;
}

h1 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 36px;
  margin: 0;
}

h2 {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-size: 36px;
  margin: 0;
}
h3 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

p {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.title {
  margin: 5% 32% 3% 32%;
  text-align: center;
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10%;
}

.column {
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.card {
  margin: 3%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.14);
  width: 100%;
  height: auto;
}
.card-text {
  margin: 8%;
}
.card-img {
  display: flex;
  justify-content: end;
  margin: 12% 8% 8% 8%;
 
}

.card-team-builder {
  border-top: 5px solid hsl(0, 78%, 62%);
}

.card-supervisor {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.card-karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.card-calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}

@media screen and (max-width: 600px) {

h1, h2 {
  font-size: 24px;
}

.column { 
  flex: 100%;
}

.title {
  margin: 15% 8% 10% 8%;
}
.container-card {
  margin: 0 5%;
}


}